<tpl:layout xmlns="http://www.w3.org/1999/xhtml" xmlns:tpl="http://budkit.org/tpl">
    <ul class="nav navbar-nav navbar-right">
        <li><a data-target="#media-gallery"  data-toggle="media-list media-grid" title="Grid">Grid</a></li>
        <li><a data-target="#media-gallery"  data-toggle="media-grid media-list" title="List">List</a></li>
    </ul>
</tpl:layout>