<tpl:layout xmlns="http://www.w3.org/1999/xhtml" xmlns:tpl="http://budkit.org/tpl">
    <div class="widget">
        <div class="widget-body clearfix row">
            <form class="form-vertical col-md-12 col-sm-12 col-lg-8" method="post" enctype="multipart/form-data" action="/settings/member/appearance/update">
                <fieldset>
                    <div class="control-group">
                        <label class="control-label">Cover photo URL</label>
                        <div class="controls">
                            <div class="input-append">
                                <input class="form-control" id="cover-photo" name="appearance[cover-photo]" type="text"  value="${config|appearance.cover-photo}" />
                            </div>
                        </div>
                    </div><!-- /control-group -->
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input type="hidden" name="appearance[show-dashboard-photo]" value="0" />
                                <tpl:input type="checkbox" name="appearance[show-dashboard-photo]" data="config|appearance.show-dashboard-photo" value="1" checked="checked" />
                                <span>Show profile photo on dashboard</span>
                            </label>
                        </div>
                    </div><!-- /control-group -->
                    <hr />
                    <div class="control-group">
                        <div class="controls">
                            <tpl:condition data="themes" test="isset" value="1">
                                <div class="widget naked">
                                    <div class="widget-head"><span class="widget-title">Available Themes</span></div>
                                    <div class="widget-body">
                                        <ul class="media-list media-gallery compensate-margins">
                                            <tpl:loop data="themes.items" id="themes-items">
                                                <li class="mgrow-fluid">
                                                    <div class="feature mgcol5">
                                                        <label class="radio pull-left">
                                                            <tpl:input type="radio" name="appearance[theme]"  data="config|appearance.theme" data-value="name" />
                                                        </label>
                                                        <img class="add-on thumbnail margin-right margin-bottom-half" src="${thumbnail}" />
                                                    </div>
                                                </li>
                                            </tpl:loop>
                                        </ul>
                                    </div>
                                </div>
                            </tpl:condition>
                            <tpl:condition data="themes.items" test="isset" value="0">
                                <p class="placeholder-text">There are no other themes available to you at this time.</p>
                            </tpl:condition>
                        </div>
                    </div><!-- /control-group -->
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</tpl:layout>
