<tpl:layout xmlns="http://www.w3.org/1999/xhtml" xmlns:tpl="http://budkit.org/tpl">
    <tpl:condition test="isset" data="activities.items" value="1">
        <tpl:import layout="messages/chat" app="system" />
    </tpl:condition>
</tpl:layout>