<tpl:layout xmlns="http://www.w3.org/1999/xhtml" xmlns:tpl="http://budkit.org/tpl">
    <div class="page-header">
        <small><?php echo _('Please enter your database connection details below.' ) ; ?></small>
    </div>
    <div class="control-group">
        <label class="control-label"><?php echo _('Database Name') ; ?></label>
        <div class="controls">
            <input type="text" name="dbname" id="dbname" class="form-control"  />
            <span class="help-block">The name of the existing database. We won't create the database for you</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><?php echo _('Database Server Username') ; ?></label>
        <div class="controls">
            <input type="text" name="dbusername" id="dbusername" class="form-control" placeholder="e.g root" />
            <span class="help-block">The Username used to access this database</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><?php echo _('Database Server User Password') ; ?></label>
        <div class="controls">
            <input type="text" name="dbpassword" id="dbpassword" class="form-control"  />
            <span class="help-block">The Password with which you use to access this database.</span>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><?php echo _('Database Host') ; ?></label>
        <div class="controls">
            <input type="text" name="dbhost" id="dbhost" class="form-control" value="localhost" />
            <span class="help-block">The path to the server. It will most likely be localhost</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><?php echo _('DB Table Prefix') ; ?></label>
        <div class="controls">
            <input type="text" name="dbtableprefix" id="dbtableprefix" class="form-control" value="<?php echo strtolower($this->getRandomString('5')); ?>_" />
            <span class="help-block">This is a security feautre, and if one is not defined it will be automatically be generated</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label"><?php echo _('Database RDBMS Driver') ; ?></label>
        <div class="controls">
            <select id="dbdriver" class="form-control col-md-4" name="dbdriver">
                <option value="MySQLi" selected="selected"><?php echo _('MySQLi') ; ?></option>
                <option value="PostgreSQL" disabled="disabled"><?php echo _('PostgreSQL') ; ?></option>
                <option value="SQLite3" disabled="disabled"><?php echo _('SQLite3') ; ?></option>
            </select>
        </div>
    </div>
</tpl:layout>