<tpl:layout xmlns="http://www.w3.org/1999/xhtml" xmlns:tpl="http://budkit.org/tpl">
    <?php $step = (int) $this->get("step"); ?>

    <div class="wizard">
        <div class="points row">
            <div class="col-md-3 <?php echo ($step > 0) ? 'active' : ''; ?>"> <a href="/setup/install/step1">License Agreement</a><span class="marker"></span></div>
            <div class="col-md-3 <?php echo ($step > 1) ? 'active' : ''; ?>"><a href="/setup/install/step2">Requirements</a><span class="marker"></span></div>
            <div class="col-md-3 <?php echo ($step > 2) ? 'active' : ''; ?>"><a href="/setup/install/step3">Configuration</a><span class="marker"></span></div>
            <div class="col-md-3 <?php echo ($step > 3) ? 'active' : ''; ?>"><a href="/setup/install/step4">Finish</a><span class="marker"></span></div>
        </div>
        <div class="progress mini-bar">
            <div class="bar" style="width: <?php echo intval(12.5*((2*$step)-1)).'%'; ?>;"></div>
        </div>
    </div>

    <form id="form" name="setup-form" class="form-horizontal" method="POST" action="<?php echo $this->link('/setup/install/step'.((int) $this->get('step') + 1) ); ?>">
        <fieldset>

            <?php switch ($step): 

            case 2 :
            echo $this->layout("requirements"); 

            break;
            case 3: 

            echo $this->layout("database"); 

            break;
            case 4 :

            echo $this->layout("user"); 

            break;
            case 1 :  echo($this->layout("license")); ?>

            <?php break;
            default : ?>

            <p><?php echo $step; ?></p>

            <?php break;
            endswitch; ?>
        </fieldset>
        <div class="form-actions">
            <div class="clearfix">
                <?php if($step>1) : ?>
                <a href="/setup/install/step'.((int) $this->get('step') - 1) " class="btn btn-default" type="button" rel="goback"><?php echo _('Previous Step'); ?></a>
                <?php else: ?>
                     <p><span style="display: block"><input type="checkbox" name="eula_accept" value="1"  /><?php echo _(' I <strong>ACCEPT</strong> the terms and conditions'); ?></span></p> 
                <?php endif; ?>
                <button type="submit" class="btn btn-primary"><?php echo "Next Step" ?></button>
            </div>
        </div>

    </form>
</tpl:layout>   
