<tpl:layout  name="start" xmlns="http://www.w3.org/1999/xhtml" xmlns:tpl="http://budkit.org/tpl">
    <div class="stream-alerts"><p class="placeholder-text">Hurrah there are no new notifications at this time</p></div>
</tpl:layout>