/* @group Base */
.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
//  font-size: 13px;
  zoom: 1;
  *display: inline;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  .chosen-drop {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 1010;
    .box-sizing(border-box);
    width: 100%;
    border: 1px solid @input-border;
    border-top: 0;
    background: #fff;
    //box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  }
  a {
    cursor: pointer;
  }
  &.chosen-with-drop{
    .chosen-drop {
      left: 0;
    }
  }
  &-single{
    .chosen-single {
      position: relative;
      display: block;
      overflow: hidden;
      height: @input-height-base;
      border: 1px solid @input-border;
      background-color: #fff;
      background-clip: padding-box;
      color: @input-color;
      text-decoration: none;
      white-space: nowrap;
      padding: @padding-base-vertical @padding-base-horizontal;
      line-height: 24px;
      span {
        display: block;
        overflow: hidden;
        margin-right: 26px;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      div {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: @input-height-base;
        height: 100%; text-align: center;
        b {
          width: 100%;
          height: 100%;
          font-size: 15px;
          display: inline-block;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          line-height:  @input-height-base;
          color: @input-color;
          text-align: center;
          text-decoration: none;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          &:before{content: @fa-var-angle-down}
        }
      }
      abbr {
        position: absolute;
        top: 6px;
        right: 26px;
        display: block;
        width: 12px;
        height: 12px;
        font-size: 1px;
      }
      .chosen-single-with-deselect{
        span {
          margin-right: 38px;
        }
      }
      &.chosen-container-single-nosearch{
        .chosen-search {
          display: none;
        }
      }
    }
    .chosen-search {
      position: relative;
      z-index: 1010;
      margin: 0;
      padding: 5px;
      white-space: nowrap;
      input[type="text"] {
        .box-sizing(border-box);
        width: 100%;
        .input-size(@input-height-small; @padding-small-vertical; @padding-small-horizontal; @font-size-small; @line-height-small; @border-radius-small);
        border: 1px solid @input-border;
        &:focus{outline:0;}
      }
    }
    .chosen-drop {
      margin-top: -1px;
      border-radius: 0 0 4px 4px;
      background-clip: padding-box;
    }
  }
  &-multi{
    .chosen-choices {
      position: relative;
      overflow: hidden;
      .box-sizing(border-box);
      width: 100%;
      height: auto !important;
      cursor: text;
      position: relative;
      display: block;
      overflow: hidden;
      height: 1%;
      border: 1px solid @input-border;
      background-color: #fff;
      background-clip: padding-box;
      color: @input-color;
      text-decoration: none;
      white-space: nowrap;
      padding: 5px;
      margin: 0;
      li {
        float: left;
        list-style: none;
        &.search-field {
          margin: 0;
          padding: 0;
          white-space: nowrap;
          input[type="text"] {
            margin: 3px 0 0 5px;
            .input-size(1; 0; 0; @font-size-base;  30px; 0);
            outline: 0;
            border: 0 !important;
            background: transparent !important;
            box-shadow: none;
            color: @input-color;
            &:focus{outline:0;}
          }
        }
        &.search-choice {
          position: relative;
          margin: 3px 0 3px 5px;
          padding: 3px 30px 3px 10px;
          background-color: @peter-river;
          background-clip: padding-box;
          color: white;
          line-height: @line-height-base;
          cursor: default;
          .search-choice-close {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 25px;
            height: 30px;
            font-size: 15px;
            display: inline-block;
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            line-height: 30px;
            color: white;
            text-align: center;
            text-decoration: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            &:before{
              content: @fa-var-times;
            }
          }
          &-disabled {
            padding-right: 5px;
            border: 1px solid #ccc;
            background-color: #e4e4e4;
            color: #666;
          }
          &-focus {
            background: #d4d4d4;
          }
        }
      }
    }
    .chosen-drop{

      .result-selected {
        display: list-item;
        color: #ccc;
        cursor: default;
      }
    }
  }
  &-active{
    .chosen-single {
      border: 1px solid @peter-river;
      //box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    &.chosen-with-drop{
      .chosen-single {
        border: 1px solid @input-border;
        //background: #F0F8FF;
        //border-bottom: 1px solid @input-border;
        //margin-bottom: 1px;
        div {
          b {
            &:before{content: @fa-var-angle-up}
          }
        }
      }
      .chosen-choices {
        border: 1px solid @peter-river;
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
        li{
          &.search-field{
            input[type="text"] {
              color: @input-color !important;
              border: 1px solid @input-border;
            }
          }
        }
      }
    }
  }
  .chosen-results {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0 4px 4px 0;
    padding: 0 0 0 4px;
    max-height: 240px;
    -webkit-overflow-scrolling: touch;
    li {
      display: none;
      margin: 0;
      padding: 5px 6px;
      list-style: none;
      line-height: 15px;
      &.active-result {
        display: list-item;
        cursor: pointer;
      }
      &.disabled-result {
        display: list-item;
        color: #ccc;
        cursor: default;
      }
      &.highlighted {
        background-color: @peter-river;
        color: #fff;
      }
      &.no-results {
        display: list-item;
        background: #f4f4f4;
      }
      &.group-result {
        display: list-item;
        font-weight: bold;
        cursor: default;
      }
      &.group-option {
        padding-left: 15px;
      }
      em {
        font-style: normal;
        text-decoration: underline;
      }
    }
  }
}



/* @end */
/* @group Disabled Support */
.chosen-disabled {
  opacity: 0.5 !important;
  cursor: default;
}
.chosen-disabled .chosen-single {
  cursor: default;
}
.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @end */
/* @group Right to Left */
.chosen-rtl {
  text-align: right;
}
.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0 8px 0 0;
}
.chosen-rtl .chosen-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}
.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}
.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}
.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}
.chosen-rtl .chosen-choices li {
  float: right;
}
.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}
.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}
.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}
.chosen-rtl.chosen-container-single-nosearch .chosen-search,
.chosen-rtl .chosen-drop {
  left: 9999px;
}
.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}
.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}
.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}
.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  direction: rtl;
}
.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 2px;
}
.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 2px;
}

/* @end */
