// Basics of a navbar
@navbar-maverick-color:             white;
@navbar-maverick-bg:               @peter-river;
@navbar-maverick-border:            darken(@navbar-maverick-bg, 6.5%);
@navbar-maverick-brand-bg:          darken(@navbar-maverick-bg, 5%);

// Navbar links
@navbar-maverick-link-color:                white;
@navbar-maverick-link-hover-color:          white;
@navbar-maverick-link-hover-bg:             transparent;
@navbar-maverick-link-active-color:         white;
@navbar-maverick-link-active-bg:            darken(@navbar-maverick-bg, 6.5%);
@navbar-maverick-link-disabled-color:       #ccc;
@navbar-maverick-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-maverick-brand-color:               white;
@navbar-maverick-brand-hover-color:         darken(@navbar-maverick-link-color, 10%);
@navbar-maverick-brand-hover-bg:            @navbar-maverick-brand-bg;

// Navbar toggle
@navbar-maverick-toggle-hover-bg:           @navbar-maverick-brand-bg;
@navbar-maverick-toggle-icon-bar-bg:        white;
@navbar-maverick-toggle-border-color:       transparent;

@fluid-grid-row-width: percentage((@grid-columns/ @grid-columns));
@fluid-grid-column-width: percentage((1 / @grid-columns));
@fluid-grid-gutter-width: (@grid-gutter-width );

@hero-padding:              100px;
@hero-color:                white;
@hero-bg:                   @gray-lighter;
@hero-bg-img:              ' ../img/homelab-blur.jpg';
@hero-bg-pos:               50% 50%;
@hero-bg-size:              cover;

@hero-heading-color:        inherit;
@hero-text-align:           center;

/**Tags**/
@tag-default-bg:            @clouds;
@tag-primary-bg:            @brand-primary;
@tag-success-bg:            @brand-success;
@tag-info-bg:               @brand-info;
@tag-warning-bg:            @brand-warning;
@tag-danger-bg:             @brand-danger;

@tag-color:                 @asbestos;
@tag-link-hover-color:      @link-color;

/*** Logo ***/
@logo:                 '../img/logo.png';

/** LOGO **/

.logo{
  text-indent: -9999em;
  display: inline-block;
  min-height: 25px; min-width: 80px;
  //background: transparent url(@logo) no-repeat 0 0;
  &.white{
    //background: transparent url(@logo) no-repeat 0 -28px;
  }
}

.navbar-transparent{
  .navbar-nav {
    > li > a {
      color: white;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: white;
        background-color: transparent;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: white;
        font-weight: 600;
        background-color: transparent;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: white;
        background-color: transparent;
      }
    }
  }
}
// Default navbar
.navbar-maverick {
  background-color: @navbar-maverick-bg;
  border-color: @navbar-maverick-border;
  border: none;
  margin-bottom: 0px;

  .navbar-brand {
    color: @navbar-maverick-brand-color;
    background-color: @navbar-maverick-bg;
    min-height: @navbar-height;
    width: 50px;
    float: left;
    padding: 8px 10px;
    font-weight: 600;
    font-size: 21px;
    line-height: 23px;
    .logo{
      height: 27px;
      //background: transparent url(@logo) no-repeat 0 0;
      &.white{
        //background: transparent url(@logo) no-repeat 0 -28px;
        path{fill: white;}
      }
    }
    &:hover,
    &:focus {
      color: @navbar-maverick-brand-hover-color;
      background-color: @navbar-maverick-brand-hover-bg;
    }
  }

  .navbar-header{
 //   width: 210px ;
   &.minimize{
     .navbar-brand{ background-color: @navbar-maverick-brand-bg; }
//      width: auto;
//      .navbar-brand{ display: none;}
   }
  }

  .navbar-text {
    color: @navbar-maverick-color;
    font-size: 110%;
    font-weight: normal;
    margin-top: 11px;
    margin-bottom: 11px;
    //font-weight: 700;
    margin-left: 5px;
    margin-right: 40px;
    &:hover{
      border-bottom: 2px solid darken(@navbar-maverick-color, 2%);
    }
  }

  .navbar-nav {
    > li > a {
      color: white !important;
      padding: 8px 10px;
      &:hover,
      &:focus {
        color: @navbar-maverick-link-hover-color;
        background-color: @navbar-maverick-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
//        color: @navbar-maverick-link-active-color;
//        background-color: @navbar-maverick-link-active-bg;
        background: transparent;
        border-bottom: 5px solid lighten(@midnight-blue, 5%);
        padding-bottom: 9px;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @navbar-maverick-link-disabled-color;
        background-color: @navbar-maverick-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: @navbar-maverick-toggle-border-color;
    padding: 17px 12px;
    margin: 0;
    min-height: @navbar-height;
    &:hover,
    &:focus {
      background-color: @navbar-maverick-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-maverick-toggle-icon-bar-bg;
    }
  }

  .menu-toggle {
    border-color: @navbar-maverick-toggle-border-color;
    position: relative;
    padding:10px 13px;
    background-color: @navbar-maverick-brand-bg;
    cursor: pointer;
   // margin-right: 10px;
    min-height: @navbar-height+1;
    float:left;
    &:hover,
    &:focus {
      background-color: @navbar-maverick-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @navbar-maverick-toggle-icon-bar-bg;
      display: block;
      width: 22px;
      height: 2px;
      border-radius: 1px;
      &+ .icon-bar {
        margin-top: 4px;
      }
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: darken(@navbar-maverick-bg, 7%);
    padding-left: 0;
    .navbar-search{
      width: 390px;
      border-radius: 0;
      border-color: transparent;
      .box-shadow(none);
    }
  }

  .navbar-form{
    padding-right: 0px;
  }

  // Dropdown menu items and carets
  .navbar-nav {

    // Caret should match text color on hover
    > .dropdown > a:hover .caret,
    > .dropdown > a:focus .caret {
      border-top-color: @navbar-maverick-link-hover-color;
      border-bottom-color: @navbar-maverick-link-hover-color;
    }

    > .open .dropdown-menu{
      .box-shadow(none);
    }
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
//        background-color: @navbar-maverick-link-active-bg;
//        color: @navbar-maverick-link-active-color;
        background: transparent;
//        border-bottom: 4px solid darken(@navbar-maverick-bg, 5%);
//        margin-bottom: -4px;
        .caret {
          border-top-color: @navbar-maverick-link-active-color;
          border-bottom-color: @navbar-maverick-link-active-color;
        }
      }
    }
    > .dropdown > a .caret {
      border-top-color: @navbar-maverick-link-color;
      border-bottom-color: @navbar-maverick-link-color;
    }


    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @navbar-maverick-link-color;
          &:hover,
          &:focus {
            color: @navbar-maverick-link-hover-color;
            background-color: @navbar-maverick-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-maverick-link-active-color;
            background-color: @navbar-maverick-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @navbar-maverick-link-disabled-color;
            background-color: @navbar-maverick-link-disabled-bg;
          }
        }
      }
    }
    > li{
      @import 'buttons.less';
      .btn{ margin: 6px @navbar-padding-horizontal 5px; padding: 7px 15px }
    }
  }
  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.
  .navbar-link {
    color: @navbar-maverick-link-color;
    &:hover {
      color: @navbar-maverick-link-hover-color;
    }
  }
}
.nav-group{ background:#2A3B4C ;font-size: @font-size-small; text-transform: uppercase; color: #637074;font-weight: bold; cursor: pointer;  a{color:#202E3B !important} }

.menu-icon{ max-width: 20px; min-width: 15px; text-align: center;}
.menu-icon, .icon{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  //line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  ~.menu-text{ padding-left: 10px; }
}
.menu-count{float: right; background-color: #3F505F; font-weight: lighter}
// Collapsible Column Layout;
// --------------------------------------------------
.column{
   position: absolute;top:0; left:auto; right:auto; bottom:0; overflow-x: hidden; overflow-y: auto;
  &.middle{
    right: 0; top:0; left:0; right:0;
    .scroll{position: absolute; top:0; bottom:0; left:auto; right:auto; overflow-x: hidden; overflow-y: auto;
      &.content{right:0; left:0; margin-top: 0; }
      &.index{right:0; top:0;width:400px; background:lighten(@clouds, 5.5%); /*border-left: 1px solid @input-border;*/ &.hover{z-index: 10000}  &.tray{left:0; right: auto;border-left: none; } }
      &.index:not(.hide):not(.hover) ~ .content{right:400px }
      &.index.tray:not(.hide) ~ .content{left:400px; right: 0;  }
    }
    .form-search{padding: 0;  width: 400px; z-index:4; right: 0; top:1;  &:not(.hide)~.scroll.index:not(.tray){margin-top: 48px;} input{ height: @navbar-height; background: #F4F5F6; &:focus{outline:0; border: 1px solid @input-border}} }
    .alert-banner{position: fixed; left:0; right:0; margin:0; top: 0; border-bottom-width: 1px; padding: 8px 10px !important; z-index: 40001;}
  }
   &.left{
     width: 200px; left:0; right: auto;  overflow-y: auto;  &~.middle{left: 200px;}; background: @midnight-blue; color: @silver;
     hr{border-top: 1px solid @wet-asphalt; margin: 10px 0;}
     // Pills
     // -------------------------
     &.minimize{
        width:50px;overflow:visible; &~.middle{left: 50px;}
       .nav-group{display: none;}
       .menu{
         .menu-icon{
           max-width: 20px;
           ~.menu-text{ padding-left: 0px; display: none; }
         }
         .menu-count{float: right; background-color: #3F505F; font-weight: lighter; display: none;}
       }
       .nav{
         > li{
           &.hide-on-minimize{
             &.minimize{display: none;}
           }
           >a {
             padding: 10px;text-align: center;
             &:hover{
               background:@wet-asphalt;
               .menu-text{
                 position: absolute;
                 display: inline;
                 float: right;
                 width: auto;
                 padding: 0 15px;
                 background: @midnight-blue;
                 left: 50px;
                 line-height: @navbar-height;
                 top: 0;
                 bottom: 0;
                 z-index: 10000;
               }
             }
           }
           > .btn-important {
             &:hover{
               .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
               .menu-text{ background-color: @alizarin; }
             }
           }
         }
       }
     }
   }
  &.aside{width: 200px; right:0; left:auto;  &~.middle{right: 200px;}; background: @midnight-blue; color: @silver; &.hide{&~.middle{right:0;}} }
  &.left,&.aside{
    .nav{
      > li {
        // Links rendered as pills
        > a {
          border-radius: 0px;
          color: @silver;
          cursor: pointer;
          &:hover,
          &:focus {
            color:white;
            background: transparent;
          }
        }
        // Active state
        &.active > a {
          &,
          &:hover,
          &:focus {
            color: white;
            background-color: @wet-asphalt;
          }
        }
        ul {
          background: #1B2835;
          > li {
            //margin-left: 2px;
            > a {
              border-radius: 0px;
              color: #34495e;
            }
            &.active > a {
              &,
              &:hover,
              &:focus {
                color: white;
                background-color:transparent;
              }
            }
          }

        }
        // Danger and error appear as red
        > .btn-important {
          .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
          color: white;
        }
      }
    }
  }
}

.navbar{
  &.minimize{
    width: @navbar-height; height: @navbar-height; overflow: hidden;
    &~.column.middle .scroll, &~.column.aside {padding-top: 0!important; top:0; }
  }
}

// Widgets
// --------------------------------------------------
.widget{

  .widget-head,
  .widget-footer{ padding:@grid-gutter-width*(1/3) @grid-gutter-width*0.5; }

  .widget-head{
    padding:@grid-gutter-width*((1/3)) @grid-gutter-width*0.5 @grid-gutter-width*((1/3)*0.9); background: lighten(@silver,20%); border-bottom: 1px solid lighten(@silver,15%) !important; font-size: @font-size-small;  color: #637074;
    a{
      color:@link-color; text-transform: none; font-weight:normal; text-decoration:none;
    }
    .widget-title{
      cursor: move;
    }
    .widget-close{
      text-decoration: none;
      float: right;
      color: @gray-light;
      cursor: pointer;
      &:hover{ color: @gray-dark }
    }
    .nav-pills{
      margin: 0px; padding: 0px;
      li{
        .active > a, .active > a:hover,  .active > a:focus{ background-color: @gray-lighter !important; color: @gray-light;}
        a { padding: 4px; }
      }
    }
  }
  .widget-body{ padding:(@grid-gutter-width*0.5); &.long{min-height: 1000px} }
  .widget-footer{  background: #f5f5f5; }
}
/**sign-in-form**/
.form-authenticate{margin-top: 5%; }
.form-signin
{
  max-width: 370px;
  //padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
  margin-bottom: 10px;
}
.form-signin .checkbox
{
  font-weight: normal;
}
.form-signin .form-control
{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus
{
  z-index: 2;
}
.form-signin input[type="text"]
{
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.action-btn{ margin-top: 10px;}

.splash-box
{
  margin-top: 20px;
  padding: 40px;
  background-color: #f7f7f7;
}
.login-title
{
  color: #555;
  font-size: 18px;
  font-weight: 400;
  display: block;
  text-transform: capitalize;
}
.profile-img
{
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.need-help
{
  margin-top: 10px;
}
.new-account
{
  display: block;
  margin-top: 10px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 50%;
  &.btn-md {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
  }
  &.btn-lg {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    font-size: 20px;
  }
  &.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    font-size: 24px;
  }
}

/**Display Pictures**/
.dp
{
  border:5px solid lighten(@clouds, 3%);
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
  &:hover
  {
    border:2px solid lighten(@clouds, 3%);
    //.rotate( 360deg );
    -webkit-font-smoothing:antialiased;
  }
 }

/**Backgrounds**/
.background{
  &-turquoise{ background-color: @turquoise; }
  &-green-sea{ background-color: @green-sea;}
  &-emerald{ background-color: @emerald;}
  &-nephritis{ background-color: @nephritis;}
  &-peter-river{ background-color: @peter-river;}
  &-belize-hole{ background-color: @belize-hole;}
  &-amethyst{ background-color: @amethyst;}
  &-wisteria{ background-color: @wisteria;}
  &-wet-asphalt{ background-color: @wet-asphalt;}
  &-midnight-blue{ background-color: @midnight-blue;}
  &-sun-flower{ background-color: @sun-flower;}
  &-orange{ background-color: @orange;}
  &-carrot{ background-color: @carrot;}
  &-pumpkin{ background-color: @pumpkin;}
  &-alizarin{ background-color: @alizarin;}
  &-pomegranate{ background-color: @pomegranate;}
  &-clouds{ background-color: @clouds;}
  &-silver{ background-color: @silver;}
  &-concrete{ background-color: @concrete;}
  &-asbestos{ background-color: @asbestos;}
}

/**Colors**/
.color{
  &-turquoise{ color: @turquoise; }
  &-green-sea{ color: @green-sea;}
  &-emerald{ color: @emerald;}
  &-nephritis{ color: @nephritis;}
  &-peter-river{ color: @peter-river;}
  &-belize-hole{ color: @belize-hole;}
  &-amethyst{ color: @amethyst;}
  &-wisteria{ color: @wisteria;}
  &-wet-asphalt{ color: @wet-asphalt;}
  &-midnight-blue{ color: @midnight-blue;}
  &-sun-flower{ color: @sun-flower;}
  &-orange{ color: @orange;}
  &-carrot{ color: @carrot;}
  &-pumpkin{ color: @pumpkin;}
  &-alizarin{ color: @alizarin;}
  &-pomegranate{ color: @pomegranate;}
  &-clouds{ color: @clouds;}
  &-silver{ color: @silver;}
  &-concrete{ color: @concrete;}
  &-asbestos{ color: @asbestos;}
}
/***TAGS***/

.tag {
  display: inline;
  padding: 0.3em 0.6em;
  font-size: 90%;
  //font-weight: bold;
  line-height: 1;
  color: @tag-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;

  // Add hover effects, but only for links
  &[href] {
    &:hover,
    &:focus {
      color: @tag-link-hover-color;
      text-decoration: none;
      cursor: pointer;
    }
  }

  // Empty labels collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
}
.tag-variant(@color) {
  background-color: @color;
  &[href] {
    &:hover,
    &:focus {
      background-color: fade(@color, 60%);
    }
  }
}
// Colors
// Contextual variations (linked labels get darker on :hover)

.tag-default {
  .tag-variant(@tag-default-bg);
}

.tag-primary {
  .tag-variant(@tag-primary-bg);
   color: #ffffff;
}

.tag-success {
  .tag-variant(@tag-success-bg);
  color: #ffffff;
}

.tag-info {
  .tag-variant(@tag-info-bg);
  color: #ffffff;
}

.tag-warning {
  .tag-variant(@tag-warning-bg);
  color: #ffffff;
}

.tag-danger {
  .tag-variant(@tag-danger-bg);
  color: #ffffff;
}


/**Repositories*/

.media-grid .repository-item{
  background: white;
  position: relative;
  margin-bottom: @grid-gutter-width * 0.5;
  min-height: 230px; max-height: 230px;
  overflow: hidden;
  .description{
    float: right;
    .caption{
      padding: @grid-gutter-width;
    }
  }
  hr{ margin: @grid-gutter-width*0.3 0; }
  .featured-img{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: @asbestos;
    &:before {content:" "; display:inline-block; height:100%; vertical-align:middle;}
    img{display:inline-block; width: 90%}
  }
}

//
// Hero Units
// --------------------------------------------------


.hero {
  padding-bottom:  @hero-padding;
  margin-bottom: @hero-padding * 0.5;
  background-color: @hero-bg;
  background-image: url(@hero-bg-img);
  background-position: @hero-bg-pos;
  background-size: @hero-bg-size;

  .container & {
    border-radius: @border-radius-large; // Only round corners at higher resolutions if contained in a container
  }
  .unit{
    text-align: @hero-text-align;
    margin-top: @hero-padding;
    font-size: (@font-size-base * 1.5);
    font-weight: 200;
    line-height: (@line-height-base * 1.5);
    color: @hero-color;
    h1 {
      line-height: 1;
      color: @hero-heading-color;
      font-weight: 300;
      margin-bottom: @hero-padding*0.25;
    }
    p {
      line-height: 1.4;
      margin-bottom: @hero-padding *0.5;
    }
    .highlight{
      background: rgba(89, 125, 170, 0.4);
      display: inline-block;
      padding: 5px 15px 10px;
    }
  }
  @media screen and (min-width: @screen-tablet) {
    padding-bottom: (@hero-padding * 1.8);
    .unit{
      margin-top:    (@hero-padding * 1.8);
    }

    .container & {
      padding-left:  (@hero-padding * 2);
      padding-right: (@hero-padding * 2);
    }

    h1 {
      font-size: (@font-size-base * 4.5);
    }
  }
}

.marketing{
  .marketing-title{
    text-align: center;
    margin-bottom: @grid-gutter-width*2;
  }
  h2{
    font-size: (@font-size-base * 3);
    font-weight: 300;
    line-height: 1.1
  }
  p{font-size: (@font-size-base *1.2 ); font-weight: 300; font-family: @font-family-sans-serif; color: @gray-light}
  .featurette{
      margin-bottom: 50px;
      h2{ font-weight: 300; font-size: (@font-size-base * 1.7); }
      p{ font-size: 18px; color: darken(@gray-light, 20%); }
  }
  .featurette-divider{
    margin: 50px 0;
  }
  .pricing{
    text-align: center;
  }
}

.testimonial{
  margin: 0 50px 50px;
  text-align: center;
  blockquote{
    border: none;
    font-size: (@font-size-base * 1.5);
    font-weight: 300;
    font-style: italic
  }
  .author{ font-size: @font-size-base; font-weight: 400; }
}


/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
  font-size: 90%;
}
.footer h4{text-transform: uppercase;}
.footer a{color: #999999}
.footer p{font-size: 80%; text-align: left; margin: 30px 0; }

/*Calendars*/

.fc table.fc-border-separate{background: white;}

/** IMPORTS **/
@import 'maverick-stream';
@import 'maverick-wizard';
@import 'maverick-icons';
@import 'maverick-media' ;
@import 'maverick-player';
@import 'maverick-select';
@import 'maverick-toolbar' ;
@import 'maverick-editor';