// Media objects
// Source: http://stubbornella.org/content/?p=497
// --------------------------------------------------
// NAV-FILES
// ----
.nav-files {
  float: left;
  .clearfix();
}

// Make the list-items overlay the bottom border
.nav-files > li {
  margin: 0 15px 15px 0;
  //margin-right: 2px;
  display: inline-block;
}
// Actual tabs (as links)
.nav-files > li > a {
  position: relative;
  width: 130px; height: 130px;
  vertical-align: middle;
  display: inline-block;
  line-height: @line-height-base;
  padding: 0;
  overflow: hidden;
  //.border-radius(4px 4px 0 0);
  &:hover,
  &:focus {
    //border-color: @grayLighter @grayLighter #ddd;
    background: #f1f1f1;
  }
  img{ width: 130px; height: auto;  object-fit: cover;}
  .upload-progress{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    vertical-align: middle;
    line-height: 85px;
    font-size: 30px;
    .icon-ok{
      color: green;
    }
    &.completed{ background: transparent; }
  }
}
// Active state, and it's :hover/:focus to override normal :hover/:focus
.nav-files > .active > a,
.nav-files > .active > a:hover,
.nav-files > .active > a:focus {
  color: @gray;
  background-color: white;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}


// Common styles
// -------------------------

// Clear the floats
.media,
.media-body {
  overflow: hidden;
  *overflow: visible;
  zoom: 1;
}

// Proper spacing between instances of .media
.media:first-child {
  margin-top: 0;
}

// For images and videos, set to block
.media-object {
  display: block;
}

// Reset margins on headings for tighter default spacing
.media-heading {
  margin: 0 0 5px;
}


// Media image alignment
// -------------------------

.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}


// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
  margin-left: 0;
  list-style: none;
}


// Icons
// --------------------------
.media-file{
  display: inline-block;
  padding: 10px;
  line-height: @line-height-base*0.7;
  box-shadow: none;
//  width: 170px;
//  height: 170px;
  text-align: center;
  text-decoration: none;
  //margin-bottom:  @line-height-base*0.5;
  //margin-right: @line-height-base*0.6;
  //border: 3px dashed #ecf4f8;
  border-radius:@border-radius-base;
  background: white;
  .box-sizing(border-box);
  overflow: hidden;
  .clearfix();
  .media-type{
    .clearfix();
    position:relative; font-size: 35px; max-width: 65px; min-width:65px; max-height: 65px; min-height:65px; .box-sizing(border-box); padding: 15px 0; margin: 15px auto 15px; display: block; text-align: center;  box-sizing: border-box; color: white; font-weight: bold; text-transform: uppercase; border-radius:1px;
    //&:before {content:""; position:absolute; top:0; right:0; border-width:10px; border-style:solid; border-color:white white #debc08 #debc08; border-radius:0px 0px 0px 6px}
    &:after{ .clearfix(); }
    i{
      display: none; //hide the icons for now
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      //line-height: 1;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale; font-size: 18px; width: 100%; color: white; &:before{ content: @fa-var-square; } }
  }
  .media-filename{
    white-space: nowrap;overflow: hidden; display: block; color: white;
  }
  &.detailed{
    padding-top: 0px; color: white; background: #C31B21;
    i{ font-size: 32px;}
  }
  .media-help{ font-size: 11px; clear: both; }
  &:hover{
    text-decoration: none;
    background: darken(#C31B21, 6.5%);
  }
  &.media-pdf{
    background: #C31B21;
    i:before{ content: @fa-var-file;}
    &:hover{   background: darken(#C31B21, 6.5%); }
  }
  &.media-zip{
    background: #9D875C;
    i:before{ content: @fa-var-archive;}
    &:hover{   background: darken(#9D875C, 6.5%);  }
  }
  &.media-doc,&.media-docx,&.media-txt{
    background: #3C88CE;
    i:before{content:@fa-var-file-text;}
    &:hover{   background: darken(#3C88CE, 6.5%); }
  }
  &.media-mov,&.media-m4v, &.media-mp4, &.media-webm, &.media-mp2, &.media-mpa, &.media-mpe, &.media-mpeg, &.media-mpg, &.media-mpv2, &.media-qt, &.media-avi, &.media-movie, &.media-ogg, &.media-ogv{
    background: #994B83;
    i:before{content: @fa-var-film;}
    &:hover{   background: darken(#994B83, 6.5%); }
  }
  &.media-mp3, &.media-webma, &.media-mid,&.media-oga,&.media-wav,&.media-xwav,&.media-m3u{
    background: @amethyst;
    i:before{content: @fa-var-music;}
    &:hover{   background: darken(@amethyst, 6.5%);  }
  }
  &.media-xls,&.media-xlsx{
    background: #4DA53B;
    i:before{content:@fa-var-table;}
    &:hover{   background: darken(#4DA53B, 6.5%);  }
  }
  &.media-ppt,&.media-pptx{
    background: #D06C27;
    i:before{content:@fa-var-file;}
    &:hover{   background: darken(#D06C27, 6.5%);  }
  }
  &.icon{
    padding: 0; border: none; width: auto; height: auto; display: inline-block;
    border-radius:0;
    .media-type{ margin: 0; display: inline-block;}
  }
}

// Grid-list
// --------------------------------------------------
.mgridfluid(@fluid-grid-column-width, @fluid-grid-gutter-width){

  .mgcolX (@index) when (@index > 0) {
    .mgcol@{index} { .mgcol(@index); }
    .mgcolX(@index - 1);
  }
  .mgcolX (0) {}

  .mgoffsetX (@index) when (@index > 0) {
    .mgoffset@{index} { .mgoffset(@index); }
    .mgoffset@{index}:first-child { .mgoffsetFirstChild(@index); }
    .mgoffsetX(@index - 1);
  }
  .mgoffsetX (0) {}

  .mgoffset (@columns) {
    margin-left: (@fluid-grid-column-width * @columns) + (@fluid-grid-gutter-width * (@columns - 1)) + (@fluid-grid-gutter-width*2);
    *margin-left: (@fluid-grid-column-width * @columns) + (@fluid-grid-gutter-width * (@columns - 1)) - (.5 / @fluid-grid-row-width * 100 * 1%) + (@fluid-grid-gutter-width*2) - (.5 / @fluid-grid-row-width * 100 * 1%);
  }

  .mgoffsetFirstChild (@columns) {
    margin-left: (@fluid-grid-column-width * @columns) + (@fluid-grid-gutter-width * (@columns - 1)) + (@fluid-grid-gutter-width);
    *margin-left: (@fluid-grid-column-width * @columns) + (@fluid-grid-gutter-width * (@columns - 1)) - (.5 / @fluid-grid-row-width * 100 * 1%) + @fluid-grid-gutter-width - (.5 / @fluid-grid-row-width * 100 * 1%);
  }

  .mgcol(@columns) {
    width: (@fluid-grid-column-width * @columns) + (@fluid-grid-gutter-width * (@columns - 1));
    *width: (@fluid-grid-column-width * @columns) + (@fluid-grid-gutter-width * (@columns - 1)) - (.5 / @fluid-grid-row-width * 100 * 1%);
    .clearfix();
  }

  .mgrow-fluid {
    width: 100%;
    .clearfix();
    [class*="mgcol"] {
      //.input-block-level();
      float: left;
      margin-left: @fluid-grid-gutter-width;
      *margin-left: @fluid-grid-gutter-width - (.5 / @fluid-grid-row-width * 100 * 1%);
    }
    [class*="mgcol"]:first-child {
      margin-left: 0;
    }
    .mgcolX (@grid-columns);
    .mgoffsetX (@grid-columns);
  }
}


.nav-mediagrid > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  color: @gray-dark;
}

// Active state
.nav-mediagrid > .active > a,
.nav-mediagrid > .active > a:hover,
.nav-mediagrid > .active > a:focus {
  color: white;
  background-color: @gray-dark;
}
.media-grid, .media-list{
  padding: 0px; margin:0px; .clearfix();
  li{
    .clearfix(); list-style: none; padding: 0px; margin:0px;
  }
}
.media-grid{
  .feature{
    padding: 10px; background:white; height: 240px; .box-sizing(border-box); position: relative;
    .feature-tools{
      height: 30px; position: absolute; bottom: 0px; left:10px; right:10px;
      li{ margin: 0px; &.pull-left{margin-right: 10px;} a{ padding: 0px; line-height: 30px; &:hover{ background: none;} } }
    }
  }
  &.compensate-margins{
    margin-right: -@fluid-grid-gutter-width*0.5;
    //margin-bottom: -@fluid-grid-gutter-width*0.5;
  }
  li{
    display: inline-block;
    float: left;
    margin: 0 @fluid-grid-gutter-width*0.5 @fluid-grid-gutter-width*0.5 0;
    .grid-hide{ display:none !important}
    &.list-header{display:none}
    .clearfix();
    .mgitem{ max-width: 350px; }
  }
  &.media-grid-2{
    .mgrow-fluid{
      width: 50%;
      margin-right:0;
      .box-sizing(border-box);
      padding-right: @grid-gutter-width;
      //*width: (@fluid-grid-column-width * 6) + (@fluid-grid-gutter-width * (6 - 1)) - (.5 / @fluid-grid-row-width * 100 * 1%);
    }
  }
}
.media-list{
  .mgridfluid(@fluid-grid-column-width, @fluid-grid-gutter-width);
  li{
    margin-bottom: @grid-gutter-width*0.5;
    .box-sizing(border-box);
    line-height: @line-height-base;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid @table-border-color;
    .list-hide{ display:none !important}
    &.list-header{ padding: 5px; [class*="mgcol"] { min-height: @line-height-base}  }
    .feature{
      .media-file{ border: none; width: auto; height: auto; .media-type{margin: 0 auto;}}
    }
    &:last-child{ border-bottom: none; }
  }
}
