//
// toolbars
// --------------------------------------------------
// Basics of a navbar
@toolbar-height:                    @navbar-height;
@toolbar-margin-bottom:             0;
@toolbar-default-color:             #777;
@toolbar-default-bg:                lighten(@silver, 20%);
@toolbar-default-border:            darken(@toolbar-default-bg, 5%);
@toolbar-border-radius:             @border-radius-base;
@toolbar-padding-horizontal:        floor(@grid-gutter-width / 3);
@toolbar-padding-vertical:          ((@toolbar-height - @line-height-computed) / 2);

// Navbar links
@toolbar-default-link-color:                #777;
@toolbar-default-link-hover-color:          #333;
@toolbar-default-link-hover-bg:             transparent;
@toolbar-default-link-active-color:         #555;
@toolbar-default-link-active-bg:            transparent;
@toolbar-default-link-disabled-color:       #ccc;
@toolbar-default-link-disabled-bg:          transparent;

// Navbar brand label
@toolbar-default-brand-color:               @toolbar-default-link-color;
@toolbar-default-brand-hover-color:         darken(@toolbar-default-link-color, 10%);
@toolbar-default-brand-hover-bg:            transparent;

// Navbar toggle
@toolbar-default-toggle-hover-bg:           #ddd;
@toolbar-default-toggle-icon-bar-bg:        #ccc;
@toolbar-default-toggle-border-color:       #ddd;


//Inverse
//-----------------------
@toolbar-inverse-color:                     #637074;
@toolbar-inverse-bg:                        #2A3B4C;
@toolbar-inverse-border:                    darken(@toolbar-inverse-bg, 5%);

// Navbar links
@toolbar-inverse-link-color:                #777;
@toolbar-inverse-link-hover-color:          #333;
@toolbar-inverse-link-hover-bg:             transparent;
@toolbar-inverse-link-active-color:         #555;
@toolbar-inverse-link-active-bg:            transparent;
@toolbar-inverse-link-disabled-color:       #ccc;
@toolbar-inverse-link-disabled-bg:          transparent;

// Navbar brand label
@toolbar-inverse-brand-color:               @toolbar-inverse-link-color;
@toolbar-inverse-brand-hover-color:         darken(@toolbar-inverse-link-color, 10%);
@toolbar-inverse-brand-hover-bg:            transparent;

// Navbar toggle
@toolbar-inverse-toggle-hover-bg:           #ddd;
@toolbar-inverse-toggle-icon-bar-bg:        #ccc;
@toolbar-inverse-toggle-border-color:       #ddd;


//Maverick
//-----------------------
@toolbar-maverick-color:                     white;
@toolbar-maverick-bg:                        @peter-river;
@toolbar-maverick-border:                    darken(@toolbar-maverick-bg, 5%);

// Navbar links
@toolbar-maverick-link-color:                @gray-lighter;
@toolbar-maverick-link-hover-color:          white;
@toolbar-maverick-link-hover-bg:             transparent;
@toolbar-maverick-link-active-color:         white;
@toolbar-maverick-link-active-bg:            transparent;
@toolbar-maverick-link-disabled-color:       @gray-light;
@toolbar-maverick-link-disabled-bg:          transparent;

// Navbar brand label
@toolbar-maverick-brand-color:               @toolbar-maverick-link-color;
@toolbar-maverick-brand-hover-color:         darken(@toolbar-maverick-link-color, 10%);
@toolbar-maverick-brand-hover-bg:            transparent;

// Navbar toggle
@toolbar-maverick-toggle-hover-bg:           #ddd;
@toolbar-maverick-toggle-icon-bar-bg:        #ccc;
@toolbar-maverick-toggle-border-color:       #ddd;

// Wrapper and base class
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.

.toolbar {
  position: relative;
  z-index: @zindex-navbar;
  min-height: @toolbar-height; // Ensure a navbar always shows (e.g., without a .toolbar-brand in collapsed mode)
  margin-bottom: @toolbar-margin-bottom;
  border-bottom: 1px solid transparent;
  padding: 0 5px;

  .toolbar-container{
    max-width: @container-desktop;
    margin: auto;
  }
  // Prevent floats from breaking the navbar
  .clearfix();

  @media (min-width: @grid-float-breakpoint) {
    border-radius: @toolbar-border-radius;
  }
  @media (min-width: @screen-tablet) {
    .toolbar-container {
      max-width: @container-tablet;
    }
  }

  @media (min-width: @screen-desktop) {
    .toolbar-container {
      max-width: @container-desktop;
    }
  }

  @media (min-width: @screen-lg-desktop) {
    .toolbar-container {
      max-width: @container-lg-desktop;
    }
  }
}


// Navbar heading
//
// Groups `.toolbar-brand` and `.toolbar-toggle` into a single component for easy
// styling of responsive aspects.

.toolbar-header {
  .clearfix();

  @media (min-width: @grid-float-breakpoint) {
    float: left;
  }
}


// Navbar collapse (body)
//
// Group your navbar content into this for easy collapsing and expanding across
// various device sizes. By default, this content is collapsed when <768px, but
// will expand past that for a horizontal display.
//
// To start (on mobile devices) the navbar links, forms, and buttons are stacked
// vertically and include a `max-height` to overflow in case you have too much
// content for the user's viewport.

.toolbar-collapse {
  max-height: 340px;
  overflow-x: visible;
  //padding-right: @toolbar-padding-horizontal;
  //padding-left:  @toolbar-padding-horizontal;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
  .clearfix();
  -webkit-overflow-scrolling: touch;

  &.in {
    overflow-y: auto;
  }

  @media (min-width: @grid-float-breakpoint) {
    width: auto;
    border-top: 0;
    box-shadow: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }

    // Account for first and last children spacing
    .toolbar-nav.toolbar-left:first-child {
      //margin-left: -@toolbar-padding-horizontal;
    }
    .toolbar-nav.toolbar-right:last-child {
      //margin-right: -@toolbar-padding-horizontal;
    }
    .toolbar-text:last-child {
      margin-right: 0;
    }
  }
}


// Both navbar header and collapse
//
// When a container is present, change the behavior of the header and collapse.

.container > .toolbar-header,
.container > .toolbar-collapse {
  margin-right: -@toolbar-padding-horizontal;
  margin-left:  -@toolbar-padding-horizontal;

  @media (min-width: @grid-float-breakpoint) {
    margin-right: 0;
    margin-left:  0;
  }
}


//
// Navbar alignment options
//
// Display the navbar across the entirity of the page or fixed it to the top or
// bottom of the page.

// Static top (unfixed, but 100% wide) navbar
.toolbar-static-top {
  border-width: 0 0 1px;
  @media (min-width: @grid-float-breakpoint) {
    border-radius: 0;
  }
}

.toolbar-static-bottom {
  border-width: 0 0 0;
  background: white;
  position: absolute;
  bottom: 0; left:0; right: 0;
  @media (min-width: @grid-float-breakpoint) {
    border-radius: 0;
  }
}

// Fix the top/bottom navbars when screen real estate supports it
.toolbar-fixed-top,
.toolbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  border-width: 0 0 1px;

  // Undo the rounded corners
  @media (min-width: @grid-float-breakpoint) {
    border-radius: 0;
  }
}
.toolbar-fixed-top {
  z-index: @zindex-navbar-fixed;
  top: 0;
}
.toolbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0; // override .toolbar defaults
}


// Brand/project name

.toolbar-brand {
  float: left;
  padding: @toolbar-padding-vertical @toolbar-padding-horizontal;
  font-size: @font-size-large;
  line-height: @line-height-computed;
  &:hover,
  &:focus {
    text-decoration: none;
  }

  @media (min-width: @grid-float-breakpoint) {
    .toolbar > .container & {
      margin-left: -@toolbar-padding-horizontal;
    }
  }
}


// Navbar toggle
//
// Custom button for toggling the `.toolbar-collapse`, powered by the collapse
// JavaScript plugin.

.toolbar-toggle {
  position: relative;
  float: right;
  margin-right: @toolbar-padding-horizontal;
  padding: 9px 10px;
  .navbar-vertical-align(34px);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: @border-radius-base;

  // Bars
  .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
  }
  .icon-bar + .icon-bar {
    margin-top: 4px;
  }

  @media (min-width: @grid-float-breakpoint) {
    display: none;
  }
}


// Navbar nav links
//
// Builds on top of the `.nav` components with it's own modifier class to make
// the nav the full height of the horizontal nav (above 768px).

.toolbar-nav {
  margin: (@toolbar-padding-vertical / 2) -@toolbar-padding-horizontal;

  > li > a {
    padding-top:    10px;
    padding-bottom: 10px;
    line-height: @line-height-computed;
    border: 1px solid transparent; .box-sizing(border-box);
    margin: -1px 0 -1px;
  }

  .open .dropdown-toggle{
    border: 1px solid transparent !important;
    background: fade( white, 25% ) !important;
    z-index: 1000000000000;
    height: @toolbar-height + 1;
   // margin-bottom: -2px;
  }

  .open .dropdown-menu{
    border-color: @toolbar-default-border;
    left: -1px;
    top: @toolbar-height;
  }

  @media (max-width: @screen-xs-max) {
    // Dropdowns get custom display when collapsed
    .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      background-color: transparent;
      border: 0;
      box-shadow: none;
      > li > a,
      .dropdown-header {
        padding: 5px 15px 5px 25px;
      }
      > li > a {
        line-height: @line-height-computed;
        border: none;
        &:hover,
        &:focus {
          background-image: none;
        }
      }
    }
  }

  // Uncollapse the nav
  @media (min-width: @grid-float-breakpoint) {
    float: left;
    margin: 0;

    > li {
      float: left;
      > a {
        padding-top: ((@toolbar-height - @line-height-computed - 2) / 2);
        padding-bottom: ((@toolbar-height - @line-height-computed - 2) / 2);
      }
    }
  }

}


// Component alignment
//
// Repurpose the pull utilities as their own navbar utilities to avoid specifity
// issues with parents and chaining. Only do this when the navbar is uncollapsed
// though so that navbar contents properly stack and align in mobile.

@media (min-width: @grid-float-breakpoint) {
  .toolbar-left  { .pull-left(); }
  .toolbar-right { .pull-right(); }
}


// Navbar form
//
// Extension of the `.form-inline` with some extra flavor for optimum display in
// our navbars.

.toolbar-form {
  margin-left: -@toolbar-padding-horizontal;
  margin-right: -@toolbar-padding-horizontal;
  padding: 10px @toolbar-padding-horizontal;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  @shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(255,255,255,.1);
  .box-shadow(@shadow);

  // Mixin behavior for optimum display
  .form-inline();

  .form-group {
    @media (max-width: @screen-xs-max) {
      margin-bottom: 5px;
    }
  }

  // Vertically center in expanded, horizontal navbar
  .navbar-vertical-align(@input-height-base);

  // Undo 100% width for pull classes
  @media (min-width: @grid-float-breakpoint) {
    width: auto;
    border: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    .box-shadow(none);
  }
}


// Dropdown menus

// Menu position and menu carets
.toolbar-nav > li > .dropdown-menu {
  margin-top: 0;
  .border-top-radius(0);
}
// Menu position and menu caret support for dropups via extra dropup class
.toolbar-fixed-bottom .toolbar-nav > li > .dropdown-menu {
  .border-bottom-radius(0);
}

// Right aligned menus need alt position
.toolbar-nav.pull-right > li > .dropdown-menu,
.toolbar-nav > li > .dropdown-menu.pull-right {
  left: auto;
  right: 0;
}


// Buttons in navbars
//
// Vertically center a button within a navbar (when *not* in a form).

.toolbar-btn {
  .navbar-vertical-align(@input-height-base);
}


// Text in navbars
//
// Add a class to make any element properly align itself vertically within the navbars.

.toolbar-text {
  float: left;
  .navbar-vertical-align(@line-height-computed - 2);
  font-size: @font-size-small; text-transform: uppercase; color: #637074; font-weight: bold; cursor: pointer;

  @media (min-width: @grid-float-breakpoint) {
    margin-left: @toolbar-padding-horizontal;
    margin-right: @toolbar-padding-horizontal;
  }
}

// Alternate navbars
// --------------------------------------------------

// Default navbar
.toolbar-default {
  background-color: @toolbar-default-bg;
  border-color: @toolbar-default-border;
  &.toolbar-lighter{ background-color: lighten(@toolbar-default-bg, 20%) }
  .toolbar-brand {
    color: @toolbar-default-brand-color;
    &:hover,
    &:focus {
      color: @toolbar-default-brand-hover-color;
      background-color: @toolbar-default-brand-hover-bg;
    }
  }

  .toolbar-text {
    color: @toolbar-default-color;
  }

  .toolbar-nav {
    > li > a {
      color: @toolbar-default-link-color;

      &:hover,
      &:focus {
        color: @toolbar-default-link-hover-color;
        background-color: @toolbar-default-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @toolbar-default-link-active-color;
        background-color: @toolbar-default-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @toolbar-default-link-disabled-color;
        background-color: @toolbar-default-link-disabled-bg;
      }
    }
  }

  .toolbar-toggle {
    border-color: @toolbar-default-toggle-border-color;
    &:hover,
    &:focus {
      background-color: @toolbar-default-toggle-hover-bg;
    }
    .icon-bar {
      background-color: @toolbar-default-toggle-icon-bar-bg;
    }
  }

  .toolbar-collapse,
  .toolbar-form {
    border-color: darken(@toolbar-default-bg, 7%);
  }

  // Dropdown menu items and carets
  .toolbar-nav {
    // Caret should match text color on hover
    > .dropdown > a:hover .caret,
    > .dropdown > a:focus .caret {
      border-top-color: @toolbar-default-link-hover-color;
      border-bottom-color: @toolbar-default-link-hover-color;
    }

    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @toolbar-default-link-active-bg;
        color: @toolbar-default-link-active-color;
        .caret {
          border-top-color: @toolbar-default-link-active-color;
          border-bottom-color: @toolbar-default-link-active-color;
        }
      }
    }
    > .dropdown > a .caret {
      border-top-color: @toolbar-default-link-color;
      border-bottom-color: @toolbar-default-link-color;
    }


    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: @toolbar-default-link-color;
          &:hover,
          &:focus {
            color: @toolbar-default-link-hover-color;
            background-color: @toolbar-default-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @toolbar-default-link-active-color;
            background-color: @toolbar-default-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @toolbar-default-link-disabled-color;
            background-color: @toolbar-default-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .toolbar-link {
    color: @toolbar-default-link-color;
    &:hover {
      color: @toolbar-default-link-hover-color;
    }
  }
}

.toolbar-inverse {
  background-color: @toolbar-inverse-bg;
  border-color: @toolbar-inverse-border;

  .toolbar-text {
    color: @toolbar-inverse-color;
  }

  .toolbar-nav {
    > li > a {
      color: @toolbar-inverse-link-color;
      border-color: @toolbar-inverse-border;
      &:hover,
      &:focus {
        color: @toolbar-inverse-link-hover-color;
        background-color: @toolbar-inverse-link-hover-bg;
      }
    }
    > li:first-child a{ border-right-color: transparent }
    > li:last-child a{ border-left-color: transparent }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @toolbar-inverse-link-active-color;
        background-color: @toolbar-inverse-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @toolbar-inverse-link-disabled-color;
        background-color: @toolbar-inverse-link-disabled-bg;
      }
    }
  }

  .toolbar-collapse,
  .toolbar-form {
    border-color: darken(@toolbar-inverse-bg, 7%);
  }

  // Dropdowns
  .toolbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @toolbar-inverse-link-active-bg;
        color: @toolbar-inverse-link-active-color;
      }
    }
    > .dropdown > a:hover .caret {
      border-top-color: @toolbar-inverse-link-hover-color;
      border-bottom-color: @toolbar-inverse-link-hover-color;
    }
    > .dropdown > a .caret {
      border-top-color: @toolbar-inverse-link-color;
      border-bottom-color: @toolbar-inverse-link-color;
    }
    > .open > a {
      &,
      &:hover,
      &:focus {
        .caret {
          border-top-color: @toolbar-inverse-link-active-color;
          border-bottom-color: @toolbar-inverse-link-active-color;
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: @toolbar-inverse-border;
        }
        > li > a {
          color: @toolbar-inverse-link-color;
          &:hover,
          &:focus {
            color: @toolbar-inverse-link-hover-color;
            background-color: @toolbar-inverse-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @toolbar-inverse-link-active-color;
            background-color: @toolbar-inverse-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @toolbar-inverse-link-disabled-color;
            background-color: @toolbar-inverse-link-disabled-bg;
          }
        }
      }
    }
  }

  .toolbar-link {
    color: @toolbar-inverse-link-color;
    &:hover {
      color: @toolbar-inverse-link-hover-color;
    }
  }

}


.toolbar-maverick {
  background-color: @toolbar-maverick-bg;
  border-color: @toolbar-maverick-border;

  .toolbar-text {
    color: @toolbar-maverick-color;
  }

  .toolbar-nav {
    > li > a {
      color: @toolbar-maverick-link-color;
      //border-color: @toolbar-maverick-border;
      &:hover,
      &:focus {
        color: @toolbar-maverick-link-hover-color;
        background-color: @toolbar-maverick-link-hover-bg;
      }
    }
    > li:first-child a{ border-right-color: transparent }
    > li:last-child a{ border-left-color: transparent }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @toolbar-maverick-link-active-color;
        background-color: @toolbar-maverick-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @toolbar-maverick-link-disabled-color;
        background-color: @toolbar-maverick-link-disabled-bg;
      }
    }
  }

  .toolbar-collapse,
  .toolbar-form {
    border-color: darken(@toolbar-maverick-bg, 7%);
  }

  // Dropdowns
  .toolbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: @toolbar-maverick-link-active-bg;
        color: @toolbar-maverick-link-active-color;
      }
    }
    > .dropdown > a:hover .caret {
      border-top-color: @toolbar-maverick-link-hover-color;
      border-bottom-color: @toolbar-maverick-link-hover-color;
    }
    > .dropdown > a .caret {
      border-top-color: @toolbar-maverick-link-color;
      border-bottom-color: @toolbar-maverick-link-color;
    }
    > .open > a {
      &,
      &:hover,
      &:focus {
        .caret {
          border-top-color: @toolbar-maverick-link-active-color;
          border-bottom-color: @toolbar-maverick-link-active-color;
        }
      }
    }

    @media (max-width: @screen-xs-max) {
      // Dropdowns get custom display
      .open .dropdown-menu {
        > .dropdown-header {
          border-color: @toolbar-maverick-border;
        }
        > li > a {
          color: @toolbar-maverick-link-color;
          &:hover,
          &:focus {
            color: @toolbar-maverick-link-hover-color;
            background-color: @toolbar-maverick-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: @toolbar-maverick-link-active-color;
            background-color: @toolbar-maverick-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: @toolbar-maverick-link-disabled-color;
            background-color: @toolbar-maverick-link-disabled-bg;
          }
        }
      }
    }
  }

  .toolbar-link {
    color: @toolbar-maverick-link-color;
    &:hover {
      color: @toolbar-maverick-link-hover-color;
    }
  }

}

