// Basics of a navbar
@navbar-maverick-color:             white;
@navbar-maverick-bg:               @peter-river;
@navbar-maverick-border:            darken(@navbar-maverick-bg, 6.5%);
@navbar-maverick-brand-bg:          darken(@navbar-maverick-bg, 5%);

// Navbar links
@navbar-maverick-link-color:                @gray-lighter;
@navbar-maverick-link-hover-color:          white;
@navbar-maverick-link-hover-bg:             transparent;
@navbar-maverick-link-active-color:         white;
@navbar-maverick-link-active-bg:            darken(@navbar-maverick-bg, 6.5%);
@navbar-maverick-link-disabled-color:       #ccc;
@navbar-maverick-link-disabled-bg:          transparent;

// Navbar brand label
@navbar-maverick-brand-color:               @navbar-maverick-link-color;
@navbar-maverick-brand-hover-color:         darken(@navbar-maverick-link-color, 10%);
@navbar-maverick-brand-hover-bg:            @navbar-maverick-brand-bg;

// Navbar toggle
@navbar-maverick-toggle-hover-bg:           @navbar-maverick-brand-bg;
@navbar-maverick-toggle-icon-bar-bg:        white;
@navbar-maverick-toggle-border-color:       transparent;


.editor{
  position: relative;
  &.fill-container{
    position: absolute;
    top:0 ; right:0; bottom:0; left:0;
  }
  .editor{
    &-tray,
    &-document,
    &-aside{position: absolute;top:0; left:auto; right:auto; bottom:0; overflow-x: hidden; overflow-y: auto;}

    //Positioning
    &-document{ right:0; top:0; left:0; right:0; height: 100%; overflow: hidden }
    &-tray{ width:200px; left:0; right:auto; border-right:1px solid @toolbar-default-border; &:not(.hide)~.editor-document{left:200px;}}
    &-aside{width:200px; right:0; left:auto; border-left:1px solid @toolbar-default-border; &:not(.hide)~.editor-document{right:200px;}}
  }
}

.editor-panel{
  position: absolute;top:@toolbar-height; left:0; right:0; bottom:0;
  overflow-y: auto;
  height: 100%;
  padding: 0 20px;
  .editor-page{
    padding: @grid-gutter-width;
    border: 1px solid #ECEBEB; outline: none;
    min-height: 100%; //there are on average 35 lines on an A4 paper if typed in 12pt!
    background: white;
    max-width: @container-desktop;
    margin: @grid-gutter-width*0.5 0;
    color: @gray-darker;
  }
}

@media (min-width: @screen-tablet) {
  .editor-page {
    max-width: @container-tablet;
  }
}

@media (min-width: @screen-desktop) {
  .editor-page {
    max-width: @container-desktop;
  }
}

@media (min-width: @screen-lg-desktop) {
  .editor-page {
    max-width: @container-lg-desktop;
  }
}