///*
// * Skin for jPlayer Plugin (http://jplayer.org/)
// * jPlayer Version: 2.1.0
// *
// * Skin Name: Premium Pixels
// * Author: @thelukemcdonald (lukemcdonald.com)
// * Description: A responsive CSS3 jPlayer skin with playlist funcitonality. Design by @ormanclark (premiumpixels.com).
// * Version: 2.0
// * Tags: audio, playlist, dark, play, pause, volume-bar, progress-bar
// */
//
//
//
//// LESS FUNCTIONS (Do not delete)
////---------------------------------------------//
//
//.at2x(@path, @w: auto, @h: auto) {
//  background-image: url(@path);
//  @at2x_path: ~`"@{path}".split('.').slice(0, "@{path}".split('.').length - 1).join(".") + "@2x" + "." + "@{path}".split('.')["@{path}".split('.').length - 1]`;
//
//  @media all and (-webkit-min-device-pixel-ratio : 1.5) {
//    background-image: url(@at2x_path);
//    background-size: @w @h;
//  }
//}
//
//.font-size(@px: 14px, @rem: 1.4rem) {
//  font-size: @px;
//  font-size: @rem;
//}
//
//.border-radius(@radius: @radius) {
//  -webkit-border-radius: @radius;
//  -khtml-border-radius: @radius;
//  -moz-border-radius: @radius;
//  -o-border-radius: @radius;
//  border-radius: @radius;
//}
//
//.box-shadow(@shadow: 0 1px 3px rgba(0,0,0,.25)) {
//  -webkit-box-shadow: @shadow;
//  -khtml-box-shadow: @shadow;
//  -moz-box-shadow: @shadow;
//  -o-box-shadow: @shadow;
//  box-shadow: @shadow;
//}
//
//.transition(@transition: all .2s ease-in-out) {
//  -webkit-transition: @transition;
//  -khtml-transition: @transition;
//  -moz-transition: @transition;
//  -o-transition:@transition;
//  transition: @transition;
//}
//
//.transform(@transform) {
//  -webkit-transform: @transform;
//  -moz-transform: @transform;
//  -ms-transform: @transform;
//  -o-transform: @transform;
//  transform: @transform;
//}
//
//.animation(@animation: name 18s linear infinite 0s) {
//  -webkit-animation: @animation;
//  -moz-animation: @animation;
//  -o-animation: @animation;
//  -ms-animation: @animation;
//  animation: @animation;
//}
//
//.opacity(@opacity: 100) {
//  filter: e(%("alpha(opacity=%d)", @opacity));
//  -khtml-opacity: @opacity / 100;
//  -moz-opacity: @opacity / 100;
//  opacity: @opacity / 100;
//}
//
//
//
//
//// LESS VARIABLES (Do not delete)
////---------------------------------------------//
//
//// Audio Player Width
//@player_width: 400px;
//@playlist_width: 95%; // best set as a percentage of @player_width
//
//// Border Radius
//@radius: 3px;
//
//// Link Colors
//@link_1: #d2d6db;
//@link_2: #ffffff;
//
//// Border Colors
//@border_1: #323334;
//@border_2: #242526;
//
//// Background Colors
//@background_1: #3a3b3c;
//@background_2: #222222;
//
//// Seek Bar Colors
//@seek_bar_1: #464849;
//@seek_bar_2: #262929;
//@seek_bar_3: #212424;
//
//// Diagonal Bar Colors
//@diagonal_bar_1: #FFF200;
//@diagonal_bar_2: #FCC500;
//@diagonal_bar_3: rgba(255,255,255,.3);
//
//// Volume Bar Colors
//@volume_bar: @seek_bar_2;
//
//
//
//
///* GENERAL
//----------------------------------------------- */
//
//.jp-jplayer {
//  width: 0px;
//  height: 0px;
//}
//
//.jp-audio {
//  margin: 0 auto;
//  //width: @player_width;
//  max-width: 100%;
//  //padding: 0 20px;
//  font-size: 1em;
//  //font-family: "Helvetica Neue", Helvetica, Arial, "Nimbus Sans L", sans-serif;
//  color: #fff;
//  line-height: 1.6;
//
//  a {
//    text-decoration: none;
//    color: @link_1;
//
//    &:hover {
//      color: @link_2;
//    }
//  }
//}
//
//.jp-interface {
//  position: relative;
//  height: 60px;
//  width: 100%;
//  background: @midnight-blue;
//  //#gradient.vertical(@background_1,@background_2);
//  //.box-shadow(0px 1px 1px rgba(0,0,0,0.5));
//  .border-radius(1px);
//}
//
//
//
//.jp-video{
//  position: relative;
//  .jp-progress {
//    right: 180px;
//  }
//  video{ width: 100% !important; height: auto !important }
//  object{width: 100%; min-height: 467px; height: auto }
//  &.jp-video-full {
//    position: relative;
//    width: 100%;
//    height: 100%;
//  }
//  .jp-gui{ display: block; height: 60px; position: absolute; bottom: 15px; left: 10px; right: 10px;  }
//}
//.jp-type-single{
//  width: 100%; height: 100%;
//}
//.jp-video, .jp-video-full{
//  &.playing{
//    .jp-gui{display: none}
//  }
//  &:hover{
//    .jp-gui{display: block }
//  }
//}
//
//.jp-video-play, .jp-no-solution {
//  display: none;
//  visibility: none;
//}
//
//
//
///* CONTROLS
//----------------------------------------------- */
//.jp-controls {
//  width: 100%;
//  height: 60px;
//  list-style-type: none;
//  padding: 0;
//  margin: 0;
//  z-index: -1;
//
//  li {
//  }
//
//  a {
//    position: absolute;
//    overflow: hidden;
//   // text-indent: -9999px;
//  }
//}
//
//.jp-play,
//.jp-pause,
//.jp-mute,
//.jp-unmute {
//  z-index: 1;
//  outline: none;
//  background-position: 10px center;
//  background-repeat: no-repeat;
//  display: inline-block;
//  font-family: FontAwesome;
//  font-style: normal;
//  font-weight: normal;
//  //line-height: 1;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  display: block;
//  width: 60px;
//  height: 60px;
//  text-align: center;
//  vertical-align: middle;
//  padding-top: 6px;
//  font-size: 32px;
//  color: white;
//  &:hover {
//    background-position: -23px center;
//  }
//}
//
//.jp-play {
//  display: block;
//  background: darken(@midnight-blue, 3%);
//}
//
//.jp-pause {
//  display: none;
//  background: darken(@midnight-blue, 3%);
//}
//
//.jp-mute,
//.jp-unmute {
//  display: block;
//  position: absolute;
//  top: 0;
//  right: 65px;
//  width: 32px;
//  color: @concrete !important;
//  font-size: 18px;
//  line-height: 50px;
//}
//
//.jp-controls-holder{
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//}
//
//
///* PROGRESS BAR
//----------------------------------------------- */
//
//.jp-progress {
//  position: absolute;
//  top: 23px; right: 152px; left:125px;
//  margin-left: 0;
//  margin-right: 0;
//}
//
//.jp-seek-bar,
//.jp-play-bar {
//  width: 0px;
//  height: 15px;
//  .border-radius(1px);
//}
//
//.jp-seek-bar {
//  cursor: pointer;
//  position: relative;
//  z-index: 999;
//  background: darken(@midnight-blue, 10%);
//
//  &:before {
//    content: " ";
//    display: block;
//    background: transparent;
//    height: 15px;
//    width: 100%;
//    position: relative;
//    top: -1px;
//    left: -1px;
//  }
//}
//
//.jp-play-bar {
//  position: absolute;
//  top: 0;
//  left: 0;
//
//  .animation( progress .75s linear infinite );
//
//}
//
//
//
///* VOLUME BAR
//----------------------------------------------- */
//
//.jp-volume-bar {
//  z-index: 99;
//  position: absolute;
//  top: 23px; right: 23px;
//  width: 40px;
//  height: 15px;
//  cursor: pointer;
//  background: darken(@midnight-blue, 10%);
//  display: none;
//}
//
//.jp-volume-bar-value {
//  width: 0px;
//  height: 15px;
//  //margin: 1px;
//}
//
//
///* Diagonal Background Bars */
//.jp-play-bar,
//.jp-volume-bar-value {
//  background: darken(@midnight-blue, 20%);
//  &:before {
//    content: " ";
//    display: block;
//    background: transparent;
//    height: 15px;
//    width: 100%;
//    position: relative;
//  }
//}
//.jp-controls-holder{
//    .jp-volume-bar { right: 60px; }
//    .jp-mute, .jp-unmute {right: 100px }
//}
//
//
///* TIME HOLDER
//----------------------------------------------- */
//
//.jp-current-time{
//  display: inline-block;
//  height: 60px;
//  left: 60px;
//  position: absolute;
//  top: 0;
//  line-height: 60px;
//  text-align: center;
//  width: 60px;
//  color: @concrete;
//}
//.jp-duration{
//  display: inline-block;
//  width: 60px;
//  height: 60px;
//  position: absolute;
//  right: 105px;
//  line-height: 60px;
//  color: @concrete;
//}
//
//.jp-time-holder {
//  display: block;
//  visibility: visible;
//  color: white;
//  position: absolute;
//  top: 0;
//  left: 60px;
//  height: 60px;
//  right: 92px;
//  line-height: 60px; color: @concrete;
//  .jp-current-time{ width: 60px; left:0; text-align: center; display: inline-block}
//  .jp-duration{ width: 60px; right:0; float:right; text-align: center; display: inline-block}
//}
//
//
//
//
///* TIME HOLDER
//----------------------------------------------- */
//.jp-toggles{
//  display: block;
//  visibility: visible;
//  position: absolute;
//  right: 23px;
//  top: 0;
//  li{list-style: none; display: inline-block;}
//  .jp-full-screen, .jp-restore-screen{
//    //position: absolute;
//    height: 60px;
//    line-height: 60px;
//    font-size: 18px;
//    cursor: pointer;
//    color: @concrete;
//    width: 32px;
//  }
//}
//
//
///* PLAYLIST
//----------------------------------------------- */
//
//.jp-playlist {
//  width: @playlist_width;
//  margin: 0 auto;
//  font-size: 13px;
//  background-color: @background_1;
//
//  a {
//    display: block;
//  }
//
//  ul {
//    width: 100%;
//    padding: 0;
//    margin: 0;
//    list-style: none;
//    .box-shadow(inset 0 1px 3px rgba(0,0,0,0.15));
//  }
//
//  li {
//    width: 100%;
//    padding: 5px 10px;
//    border-top: 1px solid lighten( @border_2, 10% );
//    border-bottom: 1px solid @border_1;
//
//    &:first-child {
//      border-top: none;
//    }
//
//    &:last-child {
//      border-bottom: none;
//    }
//  }
//}
//
//
//.jp-free-media {
//  float: right;
//  .opacity(50);
//  font-size: 10px;
//  text-transform: uppercase;
//  margin-top: 1px;
//  display: block;
//
//  &:hover {
//    .opacity(80);
//  }
//
//  a {
//    display: inline;
//
//    &:first-child:before,
//    &:last-child:after {
//      content: " ";
//    }
//  }
//}
//
//
//.jp-playlist-current {
//  a {
//    font-weight: bold;
//    color: white;
//  }
//
//  .jp-free-media {
//    a {
//      font-weight: normal ;
//    }
//  }
//}
//
//
///** TITLE **/
//.jp-title{
//  display: none;
//}
//
//
///* CSS3 ANIMATINS
//----------------------------------------------- */
///* Progress Bar Animation */
//@-webkit-keyframes progress {
//  0% { background-position: 0; }
//  100% { background-position: -7px; }
//}
//@-moz-keyframes progress {
//  0% { background-position: 0; }
//  100% { background-position: -7px; }
//}
//@-ms-keyframes progress {
//  0% { background-position: 0; }
//  100% { background-position: -7px; }
//}
//@-o-keyframes progress {
//  0% { background-position: 0; }
//  100% { background-position: -7px; }
//}
//

figure{
   video, audio{width: 100%; height: auto; display: inherit;}
   video{ min-height: 200px; background: darkent(@midnight-blue, 15%); }
  .mejs-inner{ position:relative; display: block; min-height: 60px; }
  .mejs-layers{position: absolute; top:0; left:0; right:0; bottom:0; }
  .mejs-controls{
    width: 100%;
    height: 60px;
    position: absolute; left:0; right:0; bottom:0; z-index: 4;
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: @midnight-blue;
    div{
      display: inline-block;
      &.mejs-button{
        height: 60px; line-height: 60px;  padding: 0; margin: 0;
        button{
          display: inline-block;
          line-height: 60px; width: 60px;
          color: @concrete !important;
          font-size: 18px;
          background: none; border: none;
          font-family: FontAwesome;
          font-style: normal;
          font-weight: normal;
          //line-height: 1;
          text-align: center;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding: 0; margin: 0;
          &:focus, &:active{outline: 0;}

        }
        &.mejs-playpause-button{
          background: darken(@midnight-blue, 5%);
          &.mejs-play{
            button:before { content: @fa-var-play; }
          }
          &.mejs-pause{
            button:before { content: @fa-var-pause; }
          }
        }
        &.mejs-volume-button{
          button{width: 30px;}
          &.mejs-mute{
            button:before { content: @fa-var-volume-off; }
          }
          &.mejs-unmute{
            button:before { content: @fa-var-volume-up; }
          }
          .mejs-volume-slider{
            display: none;
            height: 120px;
            width: 30px;
            background: fade(@midnight-blue, 70%);
            top: -120px;
            //left: auto;
            z-index: 1;
            position: absolute;
            margin: 0;

            .mejs-volume-total {
              position: absolute;
              left: 10px;
              top: 10px;
              width: 10px;
              height: 100px;
              background: darken(@midnight-blue, 10%);
            }

            .mejs-volume-current {
              position: absolute;
              left: 10px;
              top: 10px;
              width: 10px;
              height: 100px;
              background: @peter-river;
              margin: 0;
            }

            .mejs-volume-handle {
              position: absolute;
              left: 5px;
              top: -3px;
              width: 20px;
              height: 5px;
              background: #ddd;
              background: rgba(255,255,255,0.9);
              cursor: N-resize;
              margin: 0;
            }
          }
        }
        &.mejs-fullscreen-button{
          button{width: 30px;  margin-right: 10px; &:before { content:@fa-var-expand; }}
          &.mejs-fullscreen{
            button:before { content:@fa-var-expand; }
          }
          &.mejs-unfullscreen{
            button:before { content: @fa-var-compress; }
          }
        }
      }
      &.mejs-time,&.mejs-time-rail{height: 60px;  padding: 0; margin: 0; line-height: 60px; font-size: 18px;}
      &.mejs-time{
        width: 60px; text-align: center; display: inline-block;
        span{ color: @concrete;
          line-height: 57px;
          height: 15px;
          font-size: 16px;
          padding: 0;
          margin: 0;
          box-sizing: border-box;
          display: inline;  }
      }
      &.mejs-time-rail{
        .mejs-time-total {
          background: darken(@midnight-blue, 5%);
          height: 15px;
          display: inline-block; position: relative;
          span{
            position: absolute;
            left:0; top:0; bottom:0;
            display: block;
          }
        }
        .mejs-time-buffering {

          height: 15px;
          background: darken(@midnight-blue, 10%);
          #gradient > .striped(@peter-river);
          background-size: 40px 40px;
          -webkit-animation: progress-bar-stripes 2s linear infinite;
          -moz-animation: progress-bar-stripes 2s linear infinite;
          -ms-animation: progress-bar-stripes 2s linear infinite;
          -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;

        }
        .mejs-time-loaded {
          background: darken(@wet-asphalt, 10%);
          width: 0;
          height: 15px;
        }
        .mejs-time-current {
          width: 0;
          background: @peter-river;
          height: 15px;
          display: inline-block;
        }
        .mejs-time-handle {
          display: none;
        }

        .mejs-time-float {
          position: absolute;
          display: none;
          background: white;
          width: 40px;
          height: 25px;
          line-height: 30px;
          font-size: @font-size-base;
          top: -30px !important;
          margin-left: -18px;
          text-align: center;
          padding: 0 10px;
          color: @midnight-blue;
          border-radius: 2px;
        }

        .mejs-time-float-current {
          width: 40px;
          display: block;
          text-align: center;
          left: 0;
        }

        .mejs-time-float-corner {
          position: absolute;
          display: block;
          width: 0;
          height: 0;
          line-height: 0;
          border: solid 5px white;
          border-color: white transparent transparent;
          top: auto !important;
          bottom: -10px !important;
          left: 15px !important;
        }
      }
      &.mejs-horizontal-volume-slider{

          height: 15px;
        width: 50px;
          position: relative;
        margin-right: 20px;
        display: inline-block;
        div{
          position: absolute;
          left:0; top:0; bottom:0;
          display: block;
          &.mejs-horizontal-volume-total {
            position: relative;
            height: 15px;
            background: darken(@midnight-blue, 5%);
          }

          &.mejs-horizontal-volume-current {
            height: 15px;
            margin: 0;
            padding: 0;
            background: @concrete;
          }

          &.mejs-horizontal-volume-handle {
            display: none;
          }
        }
      }
    }
  }
}
/* END: WMP player */
