// Streams and Timeline
// --------------------------------------------------
.stream-title{
  padding:@grid-gutter-width*((1/3)) @grid-gutter-width*0.5 @grid-gutter-width*((1/3)*0.9); background: lighten(@silver,20%); border-bottom: 1px solid lighten(@silver,15%) !important; font-size: @font-size-small;  color: #637074;  cursor: pointer;
  a{
    color:@link-color; text-transform: none; font-weight:normal; text-decoration:none;
  }
}

.stream-line{ position: absolute;background: transparent;z-index: -1px;width: 6px;display: block;left: 42px;top: 15px; bottom: 0px; cursor: pointer; &:hover{ background: #f6fbfe; z-index: 1 } }
.stream-input{ margin-bottom: @grid-gutter-width*0.5 }
.stream{
  margin: 0; padding:0; list-style: none;
  li{
    position: relative;
    max-width: @container-desktop;
    .more{
      padding: 10px;
      margin: 5px 0 0 0px;
      border-radius: 1px;
      background-color: #D9EDF7;
      color: #3A87AD;
      cursor: pointer;
      text-align: center;
      position: relative;
      z-index: 2;
      display: block;
    }
    .input{ .form-control{.box-sizing(border-box);}}
    .link, .item{
      text-decoration: none; padding: @grid-gutter-width*0.5 ; display: block; font-size: @font-size-base; min-height: 65px;
      &.unread{ background: #d9edf7}
      &.open{ background: fade(@peter-river, 10%);}
      &.has-featured-img{ padding:@grid-gutter-width*0.5; padding-left:  60px+ @grid-gutter-width; min-height: (60px+@grid-gutter-width);}
      //&:hover{ background: #f9f9f9 }
      .clearfix();
      &.reading, &.writing{
        background: white; margin-bottom: @grid-gutter-width *0.5;
        .title{margin-bottom: 10px}
      }
      //&.reading{border: 1px solid @input-border}
    }
    .media{
      .clearfix();
      display: inherit;
      img,figure{max-width: 100%; .clearfix();}
      .clearfix();
      .media-grid{
        margin: 15px 15px 0;
      }
    }
    .actions{margin-top: 10px; }

    .featured-img, .featured-media, .cover-img, .extra{
      max-height: 65px;
      max-width: 65px;
      position: absolute; left:@grid-gutter-width*0.5; top:0; z-index: 2;
      //img{ .border-radius(50%); }
      &.btn{
        text-align: center;vertical-align: middle; font-weight: 700;
      }
    }
    .actions{
      display: block;
      .nav{
        &.pull-left{margin-left: -5px; }
        li {
          display: inline-block;
          > a { padding: 5px; line-height: 1; font-size: 90%; display: inline-block;}
        }
      }
    }
    .meta{ margin: @grid-gutter-width*0.5 0}
    .extra{ width: 60px; align-content: center; text-align: center; text-transform: uppercase }
    .featured-img, .featured-media, .cover-img{
      &~.extra{ top: 90px; }
    }
    .select{ position:absolute; top:@grid-gutter-width*1.1; left:@grid-gutter-width;  &~.link{ display: block; padding-left:@grid-gutter-width*2.5} &:checked{  &~.link {background: #fcf8e3 } } }
    .title, .meta{
      color: @gray-light;
      .author{ color: @gray-dark; font-weight: 700; margin-bottom: 10px; }
      .time{ margin: 0 5px; }
    }
    .subject{ font-weight: 700; margin-bottom:0px; &.heading{margin-bottom: 10px;}}
    .content{
      clear: both;
      color: fade(@gray-dark, 78%);
    }
    &.roll{
      .featured-img, .featured-media, .cover-img{ top: 15px; }
    }
    &.bottom-border{border-bottom: 1px solid #f7f7f7;}
    &:last-child{ border-bottom: none}
    > .stream-list{
      //margin-left: 90px;
      //border-top: 1px solid #f7f7f7;
      ul {
        li{
          .item, .link{
            &.reading, &.writing{
              background: #fcfcfd;
            }
          }
          .content{
            color: @concrete;
          }
        }
      }
    }
    &.open{
      .holder{ background: #fcfcfd; border: 1px solid #f7f7f7; margin-bottom: -1px; };
      .title{margin-bottom: 10px;}
      .content.reading{color: @gray-dark; }
    }
    .stream-content{
      position: relative;
      .item;
      padding: 0px;
      .featured-img, .featured-media, .cover-img, .extra{ left: -(60px+ @grid-gutter-width*0.5); top: 0px;}
    }
    .stream-media{margin: -15px -15px 15px -90px; &~.stream-item{padding-top: 15px;}}
    .stream-subject{margin: 0px -15px 0px -90px; padding: 0 15px 15px; font-weight: 600;  border-bottom: 1px solid #EEE;}
  }
}

.stream{
  &-grid{
    position: relative; height: 100%;
    .stream-line{ display: none; }
    .stream{
      //.img-responsive{width: 100%; .box-sizing(border-box)}
      .stream-item{
        width: 418px;
        .featured-img, .featured-media, .cover-img, .extra{
          //top:@grid-gutter-width*(1/3);
          &~.extra{ top: 75px; }
        }
      }
    }
  }
  &-list{
    &.form-list{border-right: 1px solid @input-border}
  }
}

.chat-board{
  .panel-input{border: none; }
}
.chat-thread{position: absolute; bottom:167px; left:0; right:0; top: @toolbar-height; overflow-y: auto; overflow-x: hidden; border-left: 1px solid @input-border; padding: @grid-gutter-width * 0.5;  }
.chat-input{position: absolute; bottom:0; left:0; right:0;  border-left: 1px solid @input-border;
  .panel-input{
    margin: 0; border-left: none; border-right: none;
  }
  &:not(:hover)~.chat-thread{bottom: 167px}
  &:hover~.chat-thread{bottom: 167px}
}

.chat-message{
    padding: 0px 10px 10px;
   .message{
     img.author-pic{position: absolute; left: 10px; top: 10px;}
     .content{width: auto; background: fade(@green-sea, 10%); margin: 0 0 0 50px; padding: 10px; float: right; }
     img.author-pic,.content{display: inline-block;}
     img.author-pic~.content{ background: lighten(@silver, 20%); float: left; }
    .clearfix();
   }
  &:last-child{padding-bottom: 10px}
}

