//
// Utility classes
// --------------------------------------------------

// fluid-row
//---------------------------
.row{
  &.row-fluid{ width: 100%; margin: 0; }
  &.no-gutter{
    // Common styles for small and large grid columns
    magin-left:0; margin-right: 0;
    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12,
    .col-sm-1,
    .col-sm-2,
    .col-sm-3,
    .col-sm-4,
    .col-sm-5,
    .col-sm-6,
    .col-sm-7,
    .col-sm-8,
    .col-sm-9,
    .col-sm-10,
    .col-sm-11,
    .col-sm-12,
    .col-md-1,
    .col-md-2,
    .col-md-3,
    .col-md-4,
    .col-md-5,
    .col-md-6,
    .col-md-7,
    .col-md-8,
    .col-md-9,
    .col-md-10,
    .col-md-11,
    .col-md-12,
    .col-lg-1,
    .col-lg-2,
    .col-lg-3,
    .col-lg-4,
    .col-lg-5,
    .col-lg-6,
    .col-lg-7,
    .col-lg-8,
    .col-lg-9,
    .col-lg-10,
    .col-lg-11,
    .col-lg-12 {
      position: relative;
      // Prevent columns from collapsing when empty
      min-height: 1px;
      // Inner gutter via padding
      padding-left:  0;
      padding-right: 0;
    }
  }
}

// Floats
// -------------------------

.clearfix {
  .clearfix();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  .hide-text();
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

.upload-bucket{margin-right: -15px}
.upload-drop{
  border: 3px dashed #ddd;
  text-align: center;
  padding: @grid-gutter-width 0;
  font-size: 24px;
  //font-weight: bold;
  color: #DDD;
  .upload-select{
    margin-top: @grid-gutter-width;
  }
}

.control-group:not(:last-child){margin-bottom: @grid-gutter-width*0.5}
.indenter{ color: @gray-lighter}
.bkeditor-title{ height: auto; .h2 ; font-weight: 600; }
.bkeditor-content{ overflow-y: scroll}

.panel-heading-toolbar{
  padding: 1px;
  .bkeditor-toolbar{
    text-align: center;
    &.btn-toolbar{
      .btn-group{
        float: none;
        .btn{ color: @gray-light; padding: 6px 10px; &:hover,&:active,&.active{ color: @gray-dark } }
      }
      .dropdown-toggle{ i{margin-right: 5px; } .caret{margin-left: 5px}}
      .dropdown-menu{
        text-align: left;
        i{margin-right: 5px; }
      }
    }
  }
}
.panel-input{
  .panel-variant(@input-border; #6B6B6B; #f7f7f7; @input-border);
  .panel-title{font-size: @font-size-small; text-transform: uppercase; }
  .panel-heading{ padding: 2px }
  .panel-footer{background: #fff; border: none; margin: 0 15px 15px; padding: 0 }
  .bkeditor-content,.bkeditor-title{
    box-shadow: none; padding: 0px; border-color: transparent;
    &:hover{border: 1px dashed @input-border;}
  }
  &:hover{ .panel-footer{display: block}  }
  &.fullscreen{
    position: fixed;top:0;left: 0; right: 0; bottom: 0; margin-bottom: 0; z-index: 1031;
    .panel-body{
      overflow-y: auto; height: 100%;padding-bottom: @navbar-height ;
      .bkeditor-content{ height: auto !important; margin-bottom: @grid-gutter-width*0.5; min-height: 300px}
    }
    .panel-footer{
      position: fixed;
      left: 0; right: 0; bottom: 0;
    }
  }
}

.display-inline{ display: inline-block}

.presence{
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  //line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-right: 10px; *margin-right: .3em;
  &:before{
    content: @fa-var-circle;
    text-decoration: inherit;
    display: inline-block;
    speak: none;
  }
  &.online{ color: @nephritis; }
  &.away{ color: @carrot; }
  &.offline{ color: @silver; }
  &.busy{ color: @pomegranate; }
}


/* Form validation */
@alert-error-text: @alert-danger-text;
@alert-error-border: @alert-danger-border;

label.valid{
  display: inline-block;
  &:after{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    //line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px; *margin-right: .3em;
    content: @fa-var-check;
  }
 // text-indent: -9999px;
}
label.error {
  font-weight: bold;
  color: @alert-danger-text;
 // padding: 2px 8px;
 // margin-top: 2px;
}

.control-group{
  &.warning{
    &>label,.help-block,.help-inline{color:@alert-warning-text;}
    input,select,textarea{color:@alert-warning-text;border-color:@alert-warning-border; &:focus{border-color:@alert-warning-border;}}
    .input-prepend .add-on,.input-append .add-on{color:@alert-warning-text;border-color:@alert-warning-border;}
  }
  &.success{
    &>label,.help-block,.help-inline{color:@alert-success-text;}
    input,select,textarea{color:@alert-success-text;border-color:@alert-success-border; &:focus{border-color:@alert-success-border;}}
    .input-prepend .add-on,.input-append .add-on{color:@alert-success-text;border-color:@alert-success-border;}
  }
  &.error{
    &>label,.help-block,.help-inline{color:@alert-error-text;}
    input,select,textarea{color:@alert-error-text;border-color:@alert-error-border; &:focus{border-color:@alert-error-border;}}
    .input-prepend .add-on,.input-append .add-on{color:@alert-error-text;border-color:@alert-error-border;}
  }

}

.minimize{
  .hide-on-minimize{
    display: none;
  }
}